{% extends 'base.html.twig' %}

{% block title %}Work index{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Liste des sessions
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('app_site') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li>Liste des sessions</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Liste de toutes les sessions</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="work" class="table table-bordered table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>Date de début</th>
                                        <th>Culture</th>
                                        <th>Produits</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for work in works %}
                                    <tr>
                                        <td><a href="{{ path('work_show', {'id': work.id}) }}"><i class="fa fa-level-down">&nbsp;</i></a></td>
                                        <td>{{ work.dateBegin ? work.dateBegin|date('d/m/Y') : '' }}</td>
                                        <td>Maïs</td>
                                        <td>{%  for workproduct in work.workproduct %}{{ workproduct.product.title }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                                        <td>
                                            <a href="{{ path('work_edit', {'id': work.id}) }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                            <a href="{{ path('work_delete', {'id': work.id}) }}" class="btn btn-danger"><i class="fa fa-remove"></i></a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="9">Aucun enregistrement trouvé</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $('#work').DataTable({
                'paging'      : false,
                'lengthChange': false,
                'searching'   : false,
                'ordering'    : true,
                'info'        : false,
                'autoWidth'   : false
            });
        })
    </script>
{% endblock %}